*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.title{
    font-size: 2rem;
    font-weight: 600;
    
}

.subtitle{
    margin-bottom: 15px;
}

body{
    width: 100%;
}

.main__content{
    display: flex;
    justify-content: center;
}   
.section__content{
    background-color: antiquewhite;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 30px 10px 30px;
}

.main__container{
    width: 100%;
    display: flex;
}

.image-main__content{
    width: 100%;
    max-width: 50%;
    padding-right: 1rem ;
}

.image__main{
    width: 100%;
   
}

.text__content{
    padding-left: 1rem;
    width: 100%;
    max-width: 50%;
}

.list{
    margin: 1rem 0;

    li{
        margin: 0.5rem 0;
    }
}
